{% extends 'base.html.twig' %}

{% block title %}Les films de la catégorie `{{category.title}}` !
{% endblock %}

{% block body %}
    <h1>Les films de la catégorie
        <em>{{category.title}}</em>
    </h1>

    <hr>

    {% include "partials/_movies.html.twig" with {'movies': category.movies} %}
{% endblock %}
