<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css' rel='stylesheet'/>
            <link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet">
            <link href="/css/custom.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container pt-5"> {% block body %}{% endblock %}
            </div>
            {% block javascripts %}{% endblock %}
        </body>
    </html>
